* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fancy {
    margin-bottom: 10em;
    font-size: 1rem!important;
    visibility: visible!important;
    opacity: 1!important;
    display: inline-block!important;
}

.section1 {
    display: flex;
}

.section2 {
    display: flex;
} 

.nature {
    z-index: 0;
    width: 100%;
    height: 40%;
}

.container {
    width: 60%;
}